In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
lrdf = pd.read_csv("Logistic_swan/Churn Risk.csv")
lrdf.head()

   CustomerID  prob_churn
0  2789-HQBOU    0.864418
1  7398-SKNQZ    0.864418
2  7363-QTBIW    0.864418
3  5216-WASFJ    0.864418
4  0480-BIXDE    0.864418

In [4]:
rfdf = pd.read_csv("Random Forest/RF_churn_risk.csv")
rfdf.head()

   CustomerID  Churn Probability
0  2137-DQMEV           0.091893
1  4636-TVXVG           0.026269
2  2480-JZOSN           0.556399
3  9050-IKDZA           0.815906
4  9397-TZSHA           0.054608

In [6]:
df = rfdf.merge(lrdf, on="CustomerID")
df.head()

   CustomerID  Churn Probability  prob_churn
0  2137-DQMEV           0.091893    0.057343
1  4636-TVXVG           0.026269    0.038912
2  2480-JZOSN           0.556399    0.396576
3  9050-IKDZA           0.815906    0.771874
4  9397-TZSHA           0.054608    0.037140

In [8]:
df.rename(columns={"Churn Probality":"RF Churn Risk", "prob_churn":"LR Churn Risk"}, inplace=True)